[Desktop Entry]
Type=Application
Name=Comic Packager
Comment=Empaquetar cómics y mangas en CBZ/CBR
Exec=ComicPackager
Icon=comic-packager
Terminal=false
Categories=Graphics;Utility;
MimeType=image/jpeg;image/png;image/webp;
StartupNotify=true
