[Desktop Entry]
Type=Application
Name=PanelPack
Comment=Empaquetar cómics y mangas en CBZ/CBR
Exec=PanelPack
Icon=panelpack
Terminal=false
Categories=Graphics;Utility;
MimeType=image/jpeg;image/png;image/webp;
StartupNotify=true
